
@font-face {
    font-family: manropeExBold;
    src: url(fonts/manrope-extrabold.otf);
}

.title {

    font-family: 'manropeExBold';
    background-image: linear-gradient(90deg, rgb(3, 2, 3),rgb(67, 67, 75));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    font-size: 35px;
    transition: background-size 300ms ease;
     text-align: center;
    border-radius: 4px;
    background-color: beige;
    color: rgb(142, 111, 148);
